<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_MenuSuperior")
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <!-- menu -->
                @Html.Action("Index", "Menu")
            </div>
            <div class="span9">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts",false)
</body>
</html>